
:root {
    --primary-dark: #58a6a6;
    --primary-light: #d1f3de;
    --secondary-light: #e7eff6;
  }

*,
*::before
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: var(--primary-light);
    color: var(--primary-dark);
    font-family: "Copperplate", "Oldtown";
    line-height: 1.6;
}

h1 {
    line-height: 1;
}

button,
input {
    width: 100%;
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    outline: none;
}

/* HEADER */

.header {
    padding:24px 0;
}

.title {
    text-align: center;
    font-size: 80px;
}

/* MAIN */

.main {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 100px;
    max-width: 1100px;
    margin: 0 auto;
}

.settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    width: 180px;
}

button {
    padding: 10px 20px;
    border: 1px solid var(--primary-dark);
    border-radius: 18px;
}

button.active {
    background-color: var(--primary-dark);
    color: var(--primary-light);
}

button, 
input[type="color"] {
    transition: transform 0.1s ease-in-out;
}

button:hover,
input[type="color"]:hover {
    transform:scale(1.2)
}

input[type="color"] {
    -webkit-appearance: none;
    width: 95px;
    height: 95px;
    border: none;
    background-color: var(--primary-light);
}

input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  
input[type='color']::-webkit-color-swatch {
    border: none;
    border-radius: 55px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 7px;
}

.sizeValue {
    margin-bottom: -20px;
    font-size: 20px;
}

input[type='range'] {
    -webkit-appearance: none;
    background-color: var(--primary-light);
  }

input[type=range]::-webkit-slider-runnable-track {
    height: 10px;
    background: var(--primary-light);
    border: 1px solid var(--primary-dark);
    border-radius: 25px;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 25px;
    margin-top: -8px;
    background: var(--primary-dark);
  }  

.gridContainer {
    display: grid;
    width: 560px;
    height: 560px;
    background-color: var(--secondary-light);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .gridElement {
      user-select: none;
  }


/* FOOTER */

.footer {
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
  }

  .fa-github {
    color: var(--primary-dark);
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
  }
  
  .fa-github:hover {
    transform: rotate(360deg) scale(1.8);
  }